*{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
  margin: 15px 0;
  height: 29px;
  line-height: 29px;
}

li input{
 margin-right: 5px;
}

.addmission{
  display: none;
}

.dltbtn, .grouping{
  background: none;
  border: 1px solid #cfcfcf;
  padding: 5px;
  cursor: pointer;
}

.completed .text{
  color: #cfcfcf;
  text-decoration: line-through;
}

.labels {
  border: 1px solid #cfcfcf;
  padding: 5px;
}